{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Lista de Vendas</h2>
    
    <a href="{{ url_for('cadastrar_venda') }}" class="btn btn-primary mb-3">Cadastrar Nova Venda</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Valor Vendido</th>
                <th>Cliente</th>
                <th>Placa</th>
                <th>Forma de Pagamento</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda[0] }}</td>
                <td>{{ venda[1] }}</td>
                <td>R$ {{ "%.2f"|format(venda[2]) }}</td>
                <td>{{ venda[3] }}</td>
                <td>{{ venda[4] }}</td>
                <td>{{ venda[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}